.menu-secondary {

	margin: 0;
	background: #ccc;

	.navbar-nav {
		> li {
			> a {
				color: #111;
				text-transform: uppercase;
			  font-size: 0.875em;
			  letter-spacing: 0.1em;

				&:hover, &:active, &:focus {

						color: #fff;
				}
			}

			> a:hover {
			}
		}
	}

}
