.bg {
	background-size: cover;
	background-position: center;

	&.bg-ripple {

		background-image: url('../img/bg/bg_ripple.jpg');

	}

	&.bg-white-world {

	}

	&.bg-black {
		background: #202020;
	}

	&.bg-blue {
		background:rgba(75, 200, 244, 0.5);
	}

	&.bg-ripple {
		background: #4bc8f4;
	}

	&.bg-white-pattern {
		background-image: url('../img/bg/bg_white_pattern.jpg');
	}

	&.bg-grey {
		background-image: url('../img/bg/bg_grey.jpg');
	}
}
