.footer {
	background-image: -webkit-linear-gradient(left, #3BC4FF 0%, #3BC4FF 66.66667%, #1DBBFF 66.66667%, #1DBBFF 100%);
	background-image: -moz-linear-gradient(left, #3BC4FF 0%, #3BC4FF 66.66667%, #1DBBFF 66.66667%, #1DBBFF 100%);
	background-image: -o-linear-gradient(left, #3BC4FF 0%, #3BC4FF 66.66667%, #1DBBFF 66.66667%, #1DBBFF 100%);
	background-image: linear-gradient(to right, #3BC4FF 0%, #3BC4FF 66.66667%, #1DBBFF 66.66667%, #1DBBFF 100%);

	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 20px;

	.footer-nav {

		padding: 0;
		margin: 0;
		color: #fff;

		li {

			display: inline-block;
			margin-right: 10px;
			color: #fff;

			a {

				color: #fff;

			}

		}

	}

	.copy {

		color: #fff;
		text-align: right;

	}

	.footer-global-popup {

		.addthis_toolbox {

			text-align: center

		}

	}

}


@media(max-width:767px){
	.site-footer {
		.footer-nav {
			text-align: center;
			margin-bottom: 20px;
		}

		.copy {
			text-align: center;
		}
	}
  .site-admin-footer{

  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
