.menu {
  position:relative;
  top:50px;
  height: 100%;
  display: none;
}

.slideout-menu {
  position: fixed;
  background-color: $primary-black;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9998;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        padding:10px 20px;
        display: block;
        cursor: pointer;
        color:white;
        text-decoration: none;
      }


      &:hover {
        background-color: grey;
      }
    }

  }

  .feedback {
    margin:10px 0;
    padding:10px;
    background-color: lightgrey;
  }

  h2 {
    color: $primary-color;
    margin:0;
  }

  p {
    color:white;
  }

  textarea {
    width:100%;
    height:300px;
    border:1px solid $primary-color;
  }

  button {
    background-color: $primary-color;
    border:none;
    width:100%;
    color:black;
  }

}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: visible;

  .menu {
    display: block;
    opacity: 1;
  }
}

.slideout-open .slideout-menu {
  display: block;
  overflow: visible;
  overflow-x: hidden;
}


