.tw-700 { font-weight: 700; }

.ta-center { text-align: center; }
.ta-right { text-align: right	; }

.c-fff { color: #fff; }
.c-blue { color: #3bc4ff; }

.tt-caps { text-transform: capitalize; }

.td-none { text-decoration: none; }
.td-none:hover { text-decoration: none; }

.fs-18 { font-size: 18px; }
.fs-24 { font-size: 24px; }

.fw-700 { font-weight: 700; }

.c-black { color: $primary-black; }
